body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:0px;
    margin: 0px;
}

li {
    display: inline;
    padding: 10px;
}

#er {
    color: red;
}
.head_txt
{
   text-align: center;
   margin-top: 250px;
   height: 450px;
}

.nav_main {
    margin-left: 870px;
    margin-top: -30px;
    font-weight: bolder;
}

.nav_main a{
    text-decoration: none;
    color: black;
}

.chote_main {
    margin-left: -20px;
    color: white;
    font-weight: bolder;
}

#title_1 {
    color: white;

}

.main_about {
    display: flex;
    gap: 40px;
    /* transform: translateY(530px); */
    margin-top: 300px;
    background-color: white;
    justify-content: center;
    height: 500px;
}

#traveler {
  width: 300px;
  margin-right: 100px;
}

#travel {
    width: 300px;
    margin-right: 135px;
  }

#font {
  margin-right: 500px;
  color: orangered;
  text-shadow: 200px;
}

#font_1 {
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: normal;
}

#font_2 {
    font-family: "Abhaya Libre", serif;
    font-weight: 500; 
    font-size: x-large;
    font-style: normal;
}

#font_3 {
    font-family: "Abhaya Libre", serif;
    font-weight: 500; 
    font-size: x-large;
    font-style: normal;
}

.main_footer{
    background-color: #565656;
    color: white;
    display: flex;
    gap: 180px;
    justify-content: center;
}
.sub_footer{
    font-weight: bolder;
    font-size: 30px;
}
.main_about_1 {
    display: flex;
    gap: 40px;
    /* transform: translateY(530px); */
    background-color: white;
    justify-content: center;
    height: 500px;
}

a{
    text-decoration: none;
    color: white;
}